.post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.post li {
    display: flex;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    padding:  0.5rem 1rem;
    background: #0899d3a8;
}

.post span {
    font-size: large;
    font-weight: bold;
    color: #fff;
}